body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.Home{
  text-align: center;
}

/*
Signup Component
*/
.Signup{
  text-align: center;
}

/*
Login Component
*/
.Login{
  text-align: center;
}

/*
Action Button on New Dream page
*/
.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

/*
Dream Title on New Dream page
*/
.dreamTitle {
  color:#cbcbcb;
  line-height:1;
  margin: 5px;
  padding-top: 10px;
}

/*
Dream Date on New Dream page
*/
.dreamDate{
  color:#cbcbcb;
  line-height:1;
  margin: 5px;
}

/*
Dream description on New Dream page
*/
.dreamDes{
  color:#cbcbcb;
  line-height:1.5;
  margin: 5px;
  padding-bottom: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.setFontC{
  color:#ffffff;
}
